
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    width: 100px;
    min-width: 100vh;
    background: linear-gradient(135deg, #153677 ,#4e085f);
}
/* *{
    width: 100px;
    min-width: 100vh;
    background: linear-gradient(135deg, #153677 ,#4e085f);
        padding: 10px;
} */

div{
    margin: 10px;
}
.profile{
    color: white;
    margin: 10px;
    padding: 15px;
    font-size: larger;
    
}

.name{
    font-size:30px;
    margin-top: 10px;
}
.mail{
    background-color: orange;
    display: inline-block;
    margin: 8px;
    padding: 2px;
    font-size: larger;
    color: white;
}

